<a href="https://colab.research.google.com/github/leslyyuvicela/PrograIII-2024-Semi/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Yuvi"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[3])

Hola Mundo
Hola  Yuvi , inicial:  Y i

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = float(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
1
Num 2
1
La suma es:  2.0

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Yuvi"
print(nombre[0:2], nombre[:2], nombre[-1], nombre[3:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Yu Yu i i
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

Ingrese un numero:7
El numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma dedos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 5
Num 2: 3.14
La suma es:  8.14

EJERCICIO: Convertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar.

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 4
EL numero  4  es:  par

EJERCICIO: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

# **TAREA (MIERCOLES)**

**1. Convertir grados Fahrenheit a Celsius.**

In [ ]:
def fahrenheit_a_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0 / 9.0
    return celsius

def obtener_fahrenheit():
    while True:
        try:
            f = float(input("Ingresa los grados Fahrenheit: ").strip())
            return f
        except ValueError:
            print("Entrada no válida. Por favor, ingresa un número.")

f = obtener_fahrenheit()
print(f"{f} grados Fahrenheit son {fahrenheit_a_celsius(f):.2f} grados Celsius.")

Ingresa los grados Fahrenheit: 1
1.0 grados Fahrenheit son -17.22 grados Celsius.

**2. Convertir grados [Celsius y Fahrenheit] a Kelvin.**

In [ ]:
def celsius_a_kelvin(celsius):
    return celsius + 273.15

def fahrenheit_a_kelvin(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0 / 9.0
    return celsius + 273.15

def obtener_opcion():
    opciones = {
        'C': 'Celsius a Kelvin',
        'F': 'Fahrenheit a Kelvin'
    }

    print("Elige una opción:")
    print("C. Convertir Celsius a Kelvin")
    print("F. Convertir Fahrenheit a Kelvin")

    while True:
        opcion = input("Ingresa C o F: ").upper().strip()

        if opcion in opciones:
            return opcion
        else:
            print("Opción no válida. Inténtalo de nuevo.")

def obtener_grados(opcion):
    while True:
        try:
            valor = float(input(f"Ingresa los grados ({'Celsius' if opcion == 'C' else 'Fahrenheit'}): "))
            return valor
        except ValueError:
            print("Entrada no válida. Por favor, ingresa un número.")

def convertir_a_kelvin():
    opciones = {
        'C': celsius_a_kelvin,
        'F': fahrenheit_a_kelvin
    }

    opcion = obtener_opcion()
    valor = obtener_grados(opcion)
    kelvin = opciones[opcion](valor)

    print(f"{valor} grados {'Celsius' if opcion == 'C' else 'Fahrenheit'} son {kelvin:.2f} grados Kelvin.")

convertir_a_kelvin()

Elige una opción:
C. Convertir Celsius a Kelvin
F. Convertir Fahrenheit a Kelvin
Ingresa C o F: ñ
Opción no válida. Inténtalo de nuevo.
Ingresa C o F: 9.9.9
Opción no válida. Inténtalo de nuevo.
Ingresa C o F: 1000000000000000000000000000000
Opción no válida. Inténtalo de nuevo.
Ingresa C o F: 100
Opción no válida. Inténtalo de nuevo.
Ingresa C o F: C
Ingresa los grados (Celsius): ñ
Entrada no válida. Por favor, ingresa un número.
Ingresa los grados (Celsius): 6
6.0 grados Celsius son 279.15 grados Kelvin.

EJERCICIO: Elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", (elevarCuadrado(num, 3)))

Num: 3
Cuadrado:  27

USANDO FUNCIONES LAMBDA.

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros fijos.

In [ ]:
serie = [2,4,9,10,36,49]
resp = map(lambda x: x**0.5, serie)
print(list(resp))

[1.4142135623730951, 2.0, 3.0, 3.1622776601683795, 6.0, 7.0]

Ejercicios con funciones preconstruidas en python.



*   MAP

In [1]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #Tabla de multiplicar

Tabla: 9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]



*   FILTER

In [4]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #Obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #Obtener solo los numeros impares.

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [5]:
notas = [5,8,9,10,7,6,9,10,2,3,1,4,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 9]
Reprobados:  [5, 2, 3, 1, 4, 2]



*   REDUCE

In [7]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [8]:
numeros = [7,8,9,10,1,5]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

**TUPLAS**

In [9]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6  (7, 9, 5, 4)
2

In [11]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces se repite domingo: ",semana.count("domingo"), "; dias de la semana: ", len(semana))

Primer dia:  domingo ; Cuantas veces se repite domingo:  1 ; dias de la semana:  7

In [12]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  miercoles 7  de  septiembre  del  2024

In [13]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

**LISTAS**

In [14]:
listas = [5,8,7,9,"Luis", "Yuvi", "Monica"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Luis', 'Yuvi', 'Monica'] Monica

In [15]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [17]:
matriz = [ ["Lab1", 10],["Lab2", 9], ["Parcial", 8] ] #10*0.3=3 + 9*0.3=2.7 + 8*0.3=2.4
reduce(obtenerNota, matriz, 0)

8.1